/* Styl dla ImageView, gdy ma klasę 'uni-selected-border' */
.uni-selected-border {
    -fx-border-color: deepskyblue; /* Kolor ramki */
    -fx-border-width: 3px;         /* Grubość ramki */
    -fx-border-radius: 5px;        /* Zaokrąglenie rogów */
    -fx-padding: 2px;              /* Odstęp między obrazkiem a ramką */
}

/* Ukrycie domyślnego "kółka" RadioButtona */
.radio-button .radio {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-mark-highlight-color: transparent;
    -fx-mark-color: transparent;
}

.radio-button .radio:selected .dot {
    -fx-background-color: transparent;
}

/* Opcjonalnie: Jeśli RadioButton ma jakiś tekst, ukryj go również */
.radio-button .text {
    -fx-font-size: 0;
    -fx-fill: transparent;
}