AnchorPane, VBox, HBox, BorderPane, StackPane, GridPane, Group {
    -fx-background-color: linear-gradient(#ff5b00, #77f400);
}

.button
{
    -fx-text-fill: blue;
}
#papiez
{
    -fx-background-color:  white;
}